In [1]:
import pandas as pd

In [2]:
subway_df = pd.read_csv('nyc-subway-weather.csv')

In [3]:
subway_df

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0.0,30.258000,55.980000,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0.0,30.258000,55.980000,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0.0,30.258000,55.980000,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0.0,30.258000,55.980000,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0.0,30.258000,55.980000,7.86,40.700348,-73.887177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42644,R464,05-31-11,04:00:00,567311,132804,0.0,0.0,2011-05-31 04:00:00,4,1,...,30.14,0,73.0,6.9,0.0,30.168333,75.366667,7.10,40.660004,-73.844849
42645,R464,05-31-11,08:00:00,290767,59788,0.0,0.0,2011-05-31 08:00:00,8,1,...,30.19,0,80.1,6.9,0.0,30.168333,75.366667,7.10,40.660004,-73.844849
42646,R464,05-31-11,12:00:00,419894,95280,0.0,0.0,2011-05-31 12:00:00,12,1,...,30.20,0,81.0,10.4,0.0,30.168333,75.366667,7.10,40.660004,-73.844849
42647,R464,05-31-11,16:00:00,419894,95280,0.0,0.0,2011-05-31 16:00:00,16,1,...,30.17,0,77.0,13.8,0.0,30.168333,75.366667,7.10,40.660004,-73.844849
42648,R464,05-31-11,20:00:00,419894,95280,0.0,0.0,2011-05-31 20:00:00,20,1,...,30.18,0,69.1,4.6,0.0,30.168333,75.366667,7.10,40.660004,-73.844849