In [1]:
import pandas as pd

In [3]:
finch_beak_df = pd.read_excel("15_Finch_Beak.xlsx")
finch_beak_df

     Beak widths of finches now
0                           6.5
1                           6.2
2                           6.6
3                           6.0
4                           6.6
..                          ...
495                         5.9
496                         7.0
497                         6.3
498                         6.8
499                         6.7

[500 rows x 1 columns]

In [4]:
finch_beak_df.describe()

       Beak widths of finches now
count                  500.000000
mean                     6.469600
std                      0.396118
min                      5.300000
25%                      6.200000
50%                      6.500000
75%                      6.700000
max                      7.600000